<form>
  <h3>New Auction</h3>
  <div class="form-group">
    <label for="title">Auction Title</label>
    {{input value=title id="title" class="form-control" placeholder="Auction Title"}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Add Auction</button>
</form>
