.container {
  width: 100%;
}

.navbar {
  margin-bottom: 0;
}

h1 {
  margin: 0;
}

figure {
  display: inline-block;
  margin: 15px;
  width: 400px;
  height: 400px;
  vertical-align: top;
  text-align: center;
}

figure figcaption {
  font-size: 20px;
  border: 1px solid;
  width: 350px;
  margin: auto;
}

figure img {
  width: 350px;
  height: auto;
}
